<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>本日のタスク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    button
    (click)="onPresentTaskModal(null)"
  >
    <ion-fab-button color="primary">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-template #loading>
    <app-task-skeleton></app-task-skeleton>
  </ng-template>

  <ng-container *ngIf="taskList | async; else loading">
    <ng-container *ngFor="let task of taskList | async; trackBy: trackByFn">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="success" (click)="onPresentTaskModal(task)">編集</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="onDeleteTask(task.id)">削除</ion-item-option>
        </ion-item-options>

        <ion-item
          class="component-task-list"
          detail="false"
          button="true"
          (click)="onPresentTaskModal(task)"
        >
          <ion-checkbox
            slot="start"
            color="primary"
            checked="{{ task.isDone }}"
            disabled="{{ !task.isDone && !task.description }}"
            (click)="onReversingTaskCompletion($event, task)"
          ></ion-checkbox>
          <ion-text class="task-name">{{ task.taskName }}</ion-text>
        </ion-item>
      </ion-item-sliding>
    </ng-container>

    <div *ngIf="!isLoading">
      <p *ngIf="!(taskList | async)?.length" class="empty-message">タスクが登録されていません</p>
    </div>
  </ng-container>
</ion-content>
