<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>本日のタスク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>本日のタスク</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    button
    (click)="onPresentTaskModal(null)"
  >
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item-sliding *ngFor="let task of taskList | async">
    <ion-item-options side="start">
      <ion-item-option color="success" (click)="onPresentTaskModal(task.id)">編集</ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="onDeleteTask(task.id)">削除</ion-item-option>
    </ion-item-options>

    <ion-item
      class="component-task-list"
      detail="false"
      button
      (click)="onPresentTaskModal(task.id)"
    >
      <ion-checkbox
        slot="start"
        color="primary"
        [(ngModel)]="task.isDone"
        (click)="onReversingTaskCompletion($event, task)"
      ></ion-checkbox>
      <ion-text class="task-name">{{ task.taskName }}</ion-text>
    </ion-item>
  </ion-item-sliding>
</ion-content>
