<ion-content>
  <ion-back-button
    defaultHref="/timeline"
    class="back-button"
    color="primary"
    text="戻る"
  ></ion-back-button>

  <div class="sign-page">
    <app-brand-logo></app-brand-logo>

    <form #f="ngForm" class="custom-form">
      <!-- <h1 class="form-header">サインアップ</h1> -->

      <ion-item>
        <ion-label position="stacked">メールアドレス</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">パスワード</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">確認用パスワード</ion-label>
        <ion-input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="onEmailSignUp()"
        >メールアドレスでサインアップ</ion-button
      >

      <div class="component-divider">
        <div class="border"></div>
        <span class="label">または</span>
        <div class="border"></div>
      </div>

      <ion-button expand="block" color="primary" (click)="onGoogleSignIn()"
        >Googleアカウントでサインアップ</ion-button
      >
      <ion-button expand="block" color="primary" disabled="true"
        >Appleアカウントでサインアップ</ion-button
      >
    </form>
  </div>
</ion-content>
