<ion-card routerLink="{{ routerLink }}" class="component-card">
  <ion-card-header class="card-header">
    <a (click)="navigatePush($event, profilePath)">
      <img class="card-header-avatar" src="{{ user.avatar }}" alt="{{ user.userName }}のアバター" />
    </a>

    <div class="card-title-box">
      <ion-card-title class="card-header-title">{{ user.userName }}</ion-card-title>
      <ion-card-subtitle class="card-header-subtitle">
        {{ taskList[0].createdAt.toDate() | date: 'yyyy/M/d HH:mm' }}</ion-card-subtitle
      >
    </div>
  </ion-card-header>

  <ion-card-content class="card-content">
    <ul class="card-task-list">
      <li class="card-task-list-item" *ngFor="let task of taskList">
        {{ task.taskName }}
      </li>
    </ul>
  </ion-card-content>
</ion-card>
