<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/timeline"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ user?.userName }}さんのタスク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-task-detail-card
    *ngFor="let task of taskList | async; trackBy: trackByFn"
    [user]="user"
    [task]="task"
  ></app-task-detail-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
