<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="timeline" text="戻る"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ user?.userName }}さんのタスク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-template #loading>
    <app-task-detail-card-skeleton></app-task-detail-card-skeleton>
  </ng-template>

  <ng-container *ngIf="taskList | async; else loading">
    <app-task-detail-card
      *ngFor="let task of taskList | async; trackBy: trackByFn"
      [user]="user"
      [task]="task"
      profilePath="profile/{{ user.id }}"
      tagPath="profile/{{ user.id }}/{{ task.tag.id }}"
    ></app-task-detail-card>
  </ng-container>
</ion-content>
