<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/timeline"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ user?.userName }}さんのタスク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let task of taskList | async; trackBy: trackByFn">
    <ion-card>
      <app-task-detail-card [user]="user" [task]="task"></app-task-detail-card>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
