<ion-header>
  <ion-toolbar>
    <ion-title>タイムライン</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="timeline-page">
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    (ionRefresh)="onTimelineRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="!timelineData.length">
    <!-- TODO:コンポーネント化するかもしれない（？） -->
    <ion-skeleton-text animated="true" class="timeline-section-header-skeleton"></ion-skeleton-text>
    <app-task-card-skeleton></app-task-card-skeleton>
    <app-task-card-skeleton></app-task-card-skeleton>
    <app-task-card-skeleton></app-task-card-skeleton>
  </ng-container>

  <ng-container *ngIf="timelineData">
    <ng-container *ngFor="let t of timelineData; trackBy: trackByFnSection">
      <h1 class="timeline-section-header">{{ t.sectionLabel | date: 'yyyy年M月d日' }}</h1>

      <ng-container *ngFor="let tl of t.data; trackBy: trackByTask">
        <app-task-card
          [user]="tl.user"
          [taskList]="tl.task"
          routerLink="{{ t.sectionId }}/{{ tl.user.id }}"
          profilePath="profile/{{ tl.user.id }}"
        ></app-task-card>
      </ng-container>

      <ng-container *ngIf="!t.data.length">
        <p class="empty-message">アクティブユーザーがいませんでした</p>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- MEMO:Observable用 -->
  <!-- <ng-container *ngIf="timelineData | async; else loading">
    <ng-container *ngFor="let data of timelineData | async; trackBy: trackByFn">
      <app-task-card
        [user]="data.user"
        [taskList]="data.task"
        routerLink="/timeline/{{ data.user.id }}"
      ></app-task-card>
    </ng-container>
    <ng-container *ngIf="!(timelineData | async)?.length">
          <p class="empty-message">昨日のアクティブユーザーはいませんでした</p>
      </ng-container>
  </ng-container> -->

  <ion-infinite-scroll threshold="100px" (ionInfinite)="onLoadPrevData($event)">
    <ion-infinite-scroll-content
      loading-spinner="bubbles"
      loading-text="タイムライン情報を取得中..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
