<div class="component-profile">
  <div class="user-info">
    <ion-skeleton-text class="user-avatar"></ion-skeleton-text>

    <div class="user-status">
      <div class="user-status-item">
        <ion-skeleton-text class="count-text-skeleton"></ion-skeleton-text>
        <ion-skeleton-text class="count-label-skeleton"></ion-skeleton-text>
      </div>
      <div class="user-status-item">
        <ion-skeleton-text class="count-text-skeleton"></ion-skeleton-text>
        <ion-skeleton-text class="count-label-skeleton"></ion-skeleton-text>
      </div>
      <div class="user-status-item">
        <ion-skeleton-text class="count-text-skeleton"></ion-skeleton-text>
        <ion-skeleton-text class="count-label-skeleton"></ion-skeleton-text>
      </div>
    </div>
  </div>
  <ion-skeleton-text class="user-name-skeleton"></ion-skeleton-text>
  <ion-skeleton-text class="profile-body-skeleton"></ion-skeleton-text>
  <ion-skeleton-text class="profile-body-skeleton"></ion-skeleton-text>

  <ion-skeleton-text class="heatmap-skeleton"></ion-skeleton-text>
</div>
