<div class="component-task-skeleton">
  <ion-skeleton-text animated="true" class="task-checkbox-skeleton"></ion-skeleton-text>
  <ion-skeleton-text animated="true" class="task-title-skeleton-"></ion-skeleton-text>
</div>
<div class="component-task-skeleton">
  <ion-skeleton-text animated="true" class="task-checkbox-skeleton"></ion-skeleton-text>
  <ion-skeleton-text animated="true" class="task-title-skeleton-"></ion-skeleton-text>
</div>
<div class="component-task-skeleton">
  <ion-skeleton-text animated="true" class="task-checkbox-skeleton"></ion-skeleton-text>
  <ion-skeleton-text animated="true" class="task-title-skeleton-"></ion-skeleton-text>
</div>
