<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>タイムライン</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">タイムライン</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let data of timeline_data" routerLink="/timeline/{{ data.user.id }}">
    <app-task-card
      [user]="data.user"
      [updated_at]="data.updated_at"
      [task_list]="data.task_list"
    ></app-task-card>
  </ion-card>
</ion-content>
