<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>本日のタスク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>本日のタスク</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" button (click)="presentModal(null)">
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item
    *ngFor="let task of taskList"
    class="ion-align-items-center"
    detail="false"
    button
    (click)="presentModal(task.id)"
  >
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-text class="ion-padding-start">{{ task.taskName }}</ion-text>
  </ion-item>
</ion-content>
