<ion-card-header>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <img
          class="square-12"
          src="{{ user.avatar }}"
          alt="ユーザーアバター"
          (click)="onClickEvent($event)"
        />
      </ion-col>
      <ion-col size="8">
        <ion-card-title class="text-base">{{ user.userName }}</ion-card-title>
        <ion-card-subtitle class="text-sm font-normal">{{
          updatedAt | date: 'yyyy/M/d HH:mm'
        }}</ion-card-subtitle>
      </ion-col>
      <ion-col size="2">
        <ion-fab-button size="small" (click)="onClickEvent($event)">
          <ion-icon name="heart"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-header>

<ion-card-content>
  <ul>
    <li *ngFor="let task of task_list">
      {{ task }}
    </li>
  </ul>
</ion-card-content>
