<ion-header>
  <ion-toolbar>
    <ion-title>ユーザー登録</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" class="custom-form">
    <div class="flex align-center gap-6">
      <img
        class="avatar"
        src="{{ filePreview || avatar }}"
        alt="{{ userName }}のユーザーアバター"
      />
      <input
        #fileInputRef
        type="file"
        accept="image/*"
        style="display: none"
        (change)="onFileSelected($event)"
      />
      <ion-button class="button button-outline" (click)="fileInputRef.click()">変更する</ion-button>
    </div>

    <ion-item>
      <ion-label position="stacked">ユーザー名</ion-label>
      <ion-input
        type="text"
        name="userName"
        [(ngModel)]="userName"
        placeholder="ユーザー名を入力してください"
      ></ion-input>
    </ion-item>

    <ion-button expand="block" class="button button-primary" (click)="onUserRegister()"
      >登録する</ion-button
    >
  </form>
</ion-content>
