<ion-content>
  <div class="flex align-center h-screen">
    <form #f="ngForm" class="custom-form">
      <h1 class="form-header">サインイン</h1>

      <ion-item>
        <ion-label position="stacked">メールアドレス</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">パスワード</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="onEmailSignIn()"
        >メールアドレスでサインイン</ion-button
      >

      <div class="component-divider">
        <div class="border"></div>
        <span class="label">または</span>
        <div class="border"></div>
      </div>

      <ion-button expand="block" color="primary" (click)="onGoogleSignIn()"
        >Googleアカウントでサインイン</ion-button
      >
      <ion-button expand="block" color="primary" disabled="true"
        >Appleアカウントでサインイン</ion-button
      >

      <a routerLink="/signup" class="link-button"> サインアップはこちら </a>
    </form>
  </div>
</ion-content>
