<ion-card class="component-card">
  <ion-card-header class="card-header">
    <ion-skeleton-text animated="true" class="card-header-avatar"></ion-skeleton-text>

    <div class="card-title-box">
      <ion-skeleton-text animated="true" class="card-header-title-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="card-header-subtitle-skeleton"></ion-skeleton-text>
    </div>
  </ion-card-header>

  <ion-card-content class="card-content">
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
  </ion-card-content>
</ion-card>

<ion-card class="component-card">
  <ion-card-header class="card-header">
    <ion-skeleton-text animated="true" class="card-header-avatar"></ion-skeleton-text>

    <div class="card-title-box">
      <ion-skeleton-text animated="true" class="card-header-title-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="card-header-subtitle-skeleton"></ion-skeleton-text>
    </div>
  </ion-card-header>

  <ion-card-content class="card-content">
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
  </ion-card-content>
</ion-card>

<ion-card class="component-card">
  <ion-card-header class="card-header">
    <ion-skeleton-text animated="true" class="card-header-avatar"></ion-skeleton-text>

    <div class="card-title-box">
      <ion-skeleton-text animated="true" class="card-header-title-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="card-header-subtitle-skeleton"></ion-skeleton-text>
    </div>
  </ion-card-header>

  <ion-card-content class="card-content">
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
  </ion-card-content>
</ion-card>

<ion-card class="component-card">
  <ion-card-header class="card-header">
    <ion-skeleton-text animated="true" class="card-header-avatar"></ion-skeleton-text>

    <div class="card-title-box">
      <ion-skeleton-text animated="true" class="card-header-title-skeleton"></ion-skeleton-text>
      <ion-skeleton-text animated="true" class="card-header-subtitle-skeleton"></ion-skeleton-text>
    </div>
  </ion-card-header>

  <ion-card-content class="card-content">
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
    <ion-skeleton-text animated="true" class="card-task-list-item-skeleton"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
