<ion-card class="component-card">
  <ion-card-header class="card-header">
    <a (click)="navigatePush(profilePath)">
      <img class="card-header-avatar" src="{{ user.avatar }}" alt="{{ user.avatar }}のアバター" />
    </a>

    <div class="card-title-box">
      <ion-card-title class="card-header-title">{{ user.userName }}</ion-card-title>
      <ion-card-subtitle class="card-header-subtitle">
        {{ task.task.createdAt.toDate() | date: 'yyyy/M/d HH:mm' }}</ion-card-subtitle
      >
    </div>

    <div class="card-favorite-box">
      <ion-fab-button
        color="{{ task.like ? 'primary' : 'none' }}"
        size="small"
        class="card-favorite-button"
        (click)="onLikeClick(task.task.id, task.like)"
      >
        <ion-icon name="heart" class="card-favorite-button-icon"></ion-icon>
      </ion-fab-button>
      <ion-text>{{ task.task.likeCount }}</ion-text>
    </div>
  </ion-card-header>

  <ion-card-content class="card-content">
    <h1 class="card-task-name">{{ task.task.taskName }}</h1>
    <p class="card-description">{{ task.task.description }}</p>
    <ion-chip outline color="{{ task.tag.color }}" (click)="navigatePush(tagPath)">
      <ion-label>{{ task.tag.tagName }}</ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>
