<ion-header translucent>
  <ion-toolbar>
    <ion-title>タグ編集</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onModalDismiss()">閉じる</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onAddTag()">作成</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let tag of tagList; let i = index">
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="onInactiveTag(tag)">削除</ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-input
        type="text"
        value="{{ tag.tagName }}"
        (ionChange)="onChangeTagName(i, $event)"
        (ionBlur)="onCreateTag(i)"
      ></ion-input>
      <ion-badge
        slot="end"
        (click)="onPresentPicker(i, tag.color)"
        style="background-color: {{ tag.color || '#000' }}"
        >{{ tag.color || '未選択' | uppercase }}</ion-badge
      >
    </ion-item>
  </ion-item-sliding>
</ion-content>
