<ion-content>
  <ion-grid class="flex flex-col flex-center h-screen">
    <ion-item>
      <ion-label>メールアドレス</ion-label>
      <ion-input type="text" placeholder="メールアドレスを入力してください"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>パスワード</ion-label>
      <ion-input type="text" placeholder="パスワードを入力してください"></ion-input>
    </ion-item>

    <ion-button expand="full"> メールでサインイン </ion-button>
    <ion-button expand="full" (click)="onGoogleSignIn()"> Googleでサインイン </ion-button>
    <ion-button expand="full"> Appleでサインイン </ion-button>
  </ion-grid>
</ion-content>
