<ion-header translucent>
  <ion-toolbar>
    <ion-title>タグ編集</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onModalDismiss()">閉じる</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isVisible">
      <ion-button (click)="onAddTag()">作成</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="createTag">
    <ion-item>
      <ion-input
        type="text"
        value="{{ createTag.tagName }}"
        (ionChange)="onChangeTagName($event)"
        (ionBlur)="onCreateTag()"
      ></ion-input>
      <ion-badge
        slot="end"
        [style.background-color]="searchTagColor(createTag.color)"
        (click)="onPresentPicker()"
        >{{ createTag.color || '未選択' }}</ion-badge
      >
    </ion-item>
  </div>

  <div *ngFor="let tag of tagList; let i = index; trackBy: trackByFn">
    <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="onInactiveTag(tag)">削除</ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-text slot="start">{{ tag.tagName }}</ion-text>
        <ion-badge
          [style.background-color]="searchTagColor(tag.color)"
          style="color: #ffffff; font-weight: 600"
          slot="end"
          (click)="onPresentPicker(i)"
          >{{ tag.color }}</ion-badge
        >
      </ion-item>
    </ion-item-sliding>
  </div>

  <div *ngIf="!tagList?.length">
    <p class="empty-message">タグが登録されていません</p>
  </div>
</ion-content>
