<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onModalDismiss()">閉じる</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; flex-wrap: wrap; gap: 0.75rem; margin: 1rem 1rem">
    <ion-chip
      *ngFor="let tag of tagList; trackBy: trackByFn"
      outline
      color="{{ tag.color }}"
      slot="end"
      class="ion-chip-large"
      (click)="onModalDismiss(tag)"
    >
      <ion-label>{{ tag.tagName }}</ion-label>
    </ion-chip>
  </div>
</ion-content>
