<ion-header>
  <ion-toolbar>
    <ion-title>タスク{{ isEdit ? '編集' : '作成' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="component-task-modal">
  <form #f="ngForm">
    <ion-item>
      <ion-label position="stacked">タスク名</ion-label>
      <ion-input
        type="text"
        name="taskName"
        [(ngModel)]="taskName"
        placeholder="タスクを入力してください"
      ></ion-input>
    </ion-item>

    <div class="label-form">
      <ion-item class="flex-1">
        <ion-label position="stacked">タグ</ion-label>
        <ion-select
          cancelText="キャンセル"
          okText="選択"
          title="タスクに紐付けるタグ"
          name="tagId"
          *ngIf="tagList && (tagList | async)?.length"
          [(ngModel)]="tagId"
        >
          <ion-select-option
            *ngFor="let tag of tagList | async; trackBy: trackByFn"
            value="{{ tag.id }}"
            >{{ tag.tagName }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-button expand="block" class="tag-modal-button" (click)="onPresentTagModal($event)">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </div>

    <ion-item class="description-textarea">
      <ion-label position="stacked">アウトプットメモ</ion-label>
      <ion-textarea
        rows="{{ isEdit ? 14 : 10 }}"
        name="description"
        [(ngModel)]="description"
        placeholder="アウトプットメモを入力してください"
      ></ion-textarea>
    </ion-item>

    <ion-item class="ion-align-items-center is-done-radio" detail="false">
      <ion-checkbox slot="start" name="isDone" [(ngModel)]="isDone"></ion-checkbox>
      <ion-text slot="end">完了</ion-text>
    </ion-item>

    <div class="button-group">
      <ion-button expand="block" class="button button-primary" (click)="onUpsertTask()"
        >{{ isEdit ? '保存' : '作成' }}する</ion-button
      >
      <ion-button expand="block" class="button button-outline" (click)="onModalDismiss()">
        キャンセル
      </ion-button>
      <ion-button
        *ngIf="isEdit"
        expand="block"
        color="danger"
        class="button button-danger"
        (click)="onDeleteTask(taskId)"
      >
        削除する
      </ion-button>
    </div>
  </form>
</ion-content>
