<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onModalDismiss()">閉じる</ion-button>
    </ion-buttons>

    <ion-title>タスク{{ isEdit ? '編集' : '作成' }}</ion-title>

    <ion-buttons slot="end" *ngIf="isEdit">
      <ion-button color="danger" (click)="onDeleteTask(taskId)">削除</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="component-task-modal">
  <form #f="ngForm">
    <ion-item>
      <ion-label position="stacked">タスク名</ion-label>
      <ion-input type="text" name="taskName" [(ngModel)]="taskName"></ion-input>
    </ion-item>

    <ion-item class="description-textarea">
      <ion-label position="stacked">アウトプットメモ</ion-label>
      <ion-textarea rows="16" name="description" [(ngModel)]="description"></ion-textarea>
    </ion-item>

    <ion-item (click)="onPresentTagModal($event)">
      <ion-label position="stacked">タグ</ion-label>
      <div *ngIf="selectTag" class="tag-select">
        <ion-icon name="ellipse" color="{{ selectTag?.color }}"></ion-icon>
        <ion-text>{{ selectTag?.tagName || '' }}</ion-text>
      </div>
    </ion-item>

    <ion-item class="ion-align-items-center is-done-radio" detail="false">
      <ion-checkbox slot="start" name="isDone" [(ngModel)]="isDone"></ion-checkbox>
      <ion-text slot="end">完了</ion-text>
    </ion-item>

    <div class="button-group">
      <ion-button expand="block" class="button button-primary" (click)="onUpsertTask()"
        >{{ isEdit ? '保存' : '作成' }}する</ion-button
      >
      <ion-button expand="block" class="button button-outline" (click)="onModalDismiss()">
        キャンセル
      </ion-button>
    </div>
  </form>
</ion-content>
