<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-profile/setting" text="戻る"></ion-back-button>
    </ion-buttons>
    <ion-title>タグ編集</ion-title>
    <ion-buttons slot="end" *ngIf="isVisible">
      <ion-button (click)="onAddTag()">作成</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="component-tag-modal">
  <div *ngIf="createTag">
    <ion-item>
      <ion-input
        type="text"
        value="{{ createTag.tagName }}"
        (ionChange)="onChangeTagName($event)"
        (ionBlur)="onCreateTag()"
      ></ion-input>
      <ion-chip outline color="{{ createTag.color }}" slot="end" (click)="onPresentPicker()">
        <ion-label>{{ createTag.color }}</ion-label>
      </ion-chip>
    </ion-item>
  </div>

  <div style="display: flex; flex-wrap: wrap; gap: 0.75rem; margin: 2rem 1rem">
    <ion-chip
      *ngFor="let tag of tagList; let i = index; trackBy: trackByFn"
      outline
      color="{{ tag.color }}"
      slot="end"
      class="ion-chip-large"
      (click)="onPresentPicker(i)"
    >
      <ion-label>{{ tag.tagName }}</ion-label>
    </ion-chip>
  </div>

  <!-- <div *ngFor="let tag of tagList; let i = index; trackBy: trackByFn">
    <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="onInactiveTag(tag)">削除</ion-item-option>
      </ion-item-options>

      <div style="display: flex; justify-content: space-between; padding: 0.25rem 1rem">
        <ion-label slot="start">{{ tag.tagName }}</ion-label>

        <ion-chip outline color="{{ tag.color }}" slot="end" (click)="onPresentPicker(i)">
          <ion-label>{{ tag.color }}</ion-label>
        </ion-chip>
      </div>
    </ion-item-sliding>
  </div> -->

  <div *ngIf="!tagList?.length">
    <p class="empty-message">タグが登録されていません</p>
  </div>
</ion-content>
