<ion-header>
  <ion-toolbar>
    <ion-title>{{ user?.userName }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navigatePush($event, 'my-profile/setting')"> 設定 </ion-button>
      <!-- <ion-icon name="settings-outline" slot="icon-only"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment
      [(ngModel)]="scene"
      class="component-segments"
      (ionChange)="onSegmentChanged($event)"
    >
      <ion-segment-button value="profile">
        <ion-label>プロフィール</ion-label>
      </ion-segment-button>
      <ion-segment-button value="task">
        <ion-label> 完了タスク </ion-label>
      </ion-segment-button>
      <ion-segment-button value="like">
        <ion-label> いいね </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-scene" [hidden]="scene !== 'profile'">
    <ion-refresher
      slot="fixed"
      pullFactor="0.5"
      pullMin="100"
      pullMax="200"
      (ionRefresh)="onProfileRefresh($event)"
    >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-profile-skeleton *ngIf="!user"></app-profile-skeleton>

    <ng-container *ngIf="user">
      <app-profile
        [user]="user"
        [isDoneTaskCount]="isDoneTaskCount"
        [likeCount]="likeCount"
      ></app-profile>
      <!-- <app-calendar-heatmap></app-calendar-heatmap> -->
      <app-tag-chart [tagChart]="tagChart" [userId]="user.id"></app-tag-chart>
    </ng-container>
  </div>

  <div [hidden]="scene !== 'task'">
    <ng-template #loading>
      <app-task-detail-card-skeleton></app-task-detail-card-skeleton>
    </ng-template>

    <ng-container *ngIf="taskList | async; else loading">
      <app-task-detail-card
        *ngFor="let task of taskList | async; trackBy: trackByFnTaskList"
        [user]="user"
        [task]="task"
        profilePath=""
        tagPath="profile/{{ user.id }}/{{ task.tag.id }}"
      ></app-task-detail-card>

      <div *ngIf="!(taskList | async)?.length">
        <p class="empty-message">完了したタスクがありません</p>
      </div>
    </ng-container>
  </div>

  <div [hidden]="scene !== 'like'">
    <ng-template #loading>
      <app-task-detail-card-skeleton></app-task-detail-card-skeleton>
    </ng-template>

    <ng-container *ngIf="likeList | async; else loading">
      <app-task-detail-card
        *ngFor="let like of likeList | async; trackBy: trackByFnLikeList"
        [user]="like.user"
        [task]="{ like: like.like, task: like.task, tag: like.tag }"
        profilePath="profile/{{ like.user.id }}"
        tagPath="profile/{{ like.user.id }}/{{ like.tag.id }}"
      ></app-task-detail-card>

      <div *ngIf="!(likeList | async)?.length">
        <p class="empty-message">いいねしたタスクがありません</p>
      </div>
    </ng-container>
  </div>
</ion-content>
